Output
Zip
Toolset/Out
Toolset/Projects
Toolset/bin
obj

_ReSharper*
__pycache__

UE4/**/Saved
UE4/**/Intermediate
UE4/**/Binaries
UE4/**/DataWise/ThirdParty
*_BuiltData*

Unity/**/*.dll
Unity/**/*.lib
Unity/**/*.exe
Unity/**/*.csproj
Unity/**/*.json
Unity/**/*.json.meta
Unity/**/*.log
Unity/**/*.log.meta
Unity/**/Library

*.obj
*.sln
*.vcxproj
.vs
*.dblite
*.tmp

ftp_cache.txt

!Output/*.bat
!Output/version.txt
!Output/Templates
!Zip/*.txt
